@import "../variables";
@import "../mixins";
@import "../common";

$margin-default:1rem;

.index {

    display: flex;
    flex-direction: column;
    align-items: center;

    .exercise-conf{
        height: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        > *:not(:first-child){
            margin-top:$margin-default;
        }
    }

    .exercise-list{
        margin-top:$margin-default;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__item{
            display: flex;
            align-items: center;
            &:not(:first-child){
                margin-top:$margin-default;
            }
            span{
                display: inline-block;
                width:2rem;
                height:2rem;
                line-height:2rem;
                text-align: center;
            }
            .no{
                border-radius: 50%;
                background-color: #999;
                color:#fff;
            }
            .verify{
                margin-left:.25rem;
                @mixin result($color, $content) {
                    @extend %material-icons;
                    color: $color;
                    content: $content;
                    font-size: 2rem;
                    font-weight: bold;
                    animation: round .5s ease-in-out;
                    // animation: round-reverse .5s ease-in-out .5s;
                }
                &--ok:before{
                    @include result(limegreen, "done");
                }
                &--ng:before{
                    @include result(crimson, "clear");
                }
            }
        }
    }

    .verify-exercise{
        margin-top:$margin-default;
    }

    button{
        width:10rem;
        padding:1rem;
    }

    input[type="checkbox"] {
        transform: scale(1.5);
        margin-right: $margin-default;
    }

    input[type="number"] {
        padding: .25rem;
        font-size: 1.25rem;
    }

}
