@import "../variables";
@import "../mixins";
@import "../common";

.index {

    display: flex;
    flex-direction: column;
    align-items: center;

    .exercise-conf{
        height: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        > *:not(:first-child){
            margin-top:1rem;
        }
    }

    .exercise-list{
        margin-top:1rem;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__item{
            display: flex;
            align-items: center;
            span{
                display: inline-block;
                width:2rem;
                height:2rem;
                line-height:2rem;
                text-align: center;
            }
            .no{
                border-radius: 50%;
                background-color: #999;
                color:#fff;
            }
            .verify{
                margin-left:.25rem;
                &--ok:before{
                    color: limegreen;
                    @extend %material-icons;
                    content: "done";
                    font-size: 2rem;
                    font-weight: bold;
                }
                &--ng:before{
                    color: crimson;
                    @extend %material-icons;
                    content: "clear";
                    font-size: 2rem;
                    font-weight: bold;
                }
            }
        }
    }

    .verify-exercise{
        margin-top:1rem;
    }

    button{
        width:10rem;
        padding:1rem;
    }

    input[type="checkbox"] {
        transform: scale(1.5);
        margin-right: 1rem;
    }

    input[type="number"] {
        padding: .25rem;
        font-size: 1.25rem;
    }

}
